page-login {
    .input-has-focus .label {
        color: map-get($colors, primary)
    }
    .alert {
        color: #ea6153;
        padding-left: 16px;
        margin: 6px 0px 6px 0px;
    }
    .invalid {
        border: 1px solid #ea6153;
    }
}
